@import "tailwindcss";



@layer base {
  body {
    @apply bg-white min-h-screen;
   font-family: "Goldman", "Lalezar", sans-serif;
    font-style: normal;
  }
}


.goldman {
  font-weight: 400;
}

.lalezar {
  font-weight: 200;
}
.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 40px;
  animation: scroll 20s linear infinite;
}

/* عكس الاتجاه */
.marquee-track.reverse {
  animation-direction: reverse;
}

/* دعم RTL */
.marquee-track.rtl {
  animation-direction: reverse;
}

/* RTL + reverse = يرجع طبيعي */
.marquee-track.reverse.rtl {
  animation-direction: normal;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}