@import "tailwindcss";



@layer base {
  body {
    @apply bg-white min-h-screen;
   font-family: "Goldman", "Lalezar", sans-serif;
    font-style: normal;
  }
}


.goldman {
  font-weight: 400;
}

.lalezar {
  font-weight: 200;
}